body {
    margin: 0;
    background: #25253b;
    background: radial-gradient(circle,rgba(37, 37, 59, 1) 0%, rgba(17, 28, 189, 1) 49%, rgba(27, 12, 66, 1) 100%);
    color: white;
    text-align: center;
    font-family: Arial;
}

canvas {
    width: 600px;
    height: 400px;
    display: block;
    margin: auto;
    background: black;
}